Python/Exercises/.idea/Exercises.iml
Python/Exercises/.idea/.name
Python/Exercises/.idea/misc.xml
Python/Exercises/.idea/modules.xml
Python/Exercises/.idea/vcs.xml
Python/Exercises/.idea/workspace.xml
Python/Exercises/Tests/ExerciseTests.pyc
*.pyc
